@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.body {

  width: 100%;
  text-align: center;
}
.todo{
  font-family: 'Roboto', sans-serif;
}
.title{
  font-family: 'Great Vibes', cursive;
color: rgb(91, 154, 242);
}
.list{

  width: 40%;
  margin: 2% auto;
  
}

.hello{
  text-decoration: underline;
  text-align: center;
}
.boutton{
  font-size: x-small;
 

}
.texte{
  
  width: 80%;
  font-size: x-large;
  margin: 2% auto;
  word-wrap: break-word;
  font-weight: lighter;

 
}
